@model EmpManagement.Models.Complete
    <div class="row">

        <a asp-controller="mainhome" asp-action="newindex">Index</a>
        <div class="col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a asp-controller="Inventory" asp-action="index">Inventory</a>

                </div>
                <div class="panel-body">
                    <div id="one">
                        &nbsp;

                        @foreach (var item in ViewBag.Inventory)
                        {
                            <div class="alert alert-success" role="alert">@item.Name @item.Status</div>
                            <a asp-controller="KanbanViewProduct" asp-action="arrowsuperone" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move ?')"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                            <a asp-controller="KanbanViewProduct" asp-action="arrowsupertwo" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move  ?')"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a asp-controller="NotInInventory" asp-action="index">NotInInventory</a>
                </div>
                <div class="panel-body">
                    <div id="two">
                        &nbsp;
                        @foreach (var item in ViewBag.NotInInventory)
                        {
                            <div class="alert alert-success" role="alert">@item.Name @item.Status</div>
                            <a asp-controller="KanbanViewProduct" asp-action="arrowsuperthree" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move ?')"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                            <a asp-controller="KanbanViewProduct" asp-action="arrowsuperfour" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move  ?')"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a asp-controller="rentedforproject" asp-action="nextnextnextnextindex">RentedForProject</a>
                </div>
                <div class="panel-body">
                    <div id="three">
                        &nbsp;
                        @foreach (var item in ViewBag.RentedForProject)
                        {
                            <div class="alert alert-success" role="alert">@item.Name @item.Status</div>
                            <a asp-controller="KanbanViewProduct" asp-action="arrowsuperfive" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move ?')"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                            <a asp-controller="KanbanViewProduct" asp-action="arrowsupersix" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move  ?')"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-xs-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a asp-controller="RentedFromClients" asp-action="index">RentedFromClients</a>
        </div>
        <div class="panel-body">
            <div id="four">
                &nbsp;
                @foreach (var item in ViewBag.RentedFromClients)
                {
                    <div class="alert alert-success" role="alert">@item.Name @item.Status</div>
                    <a asp-controller="KanbanViewProduct" asp-action="arrowsuperseven" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move ?')"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                    <a asp-controller="KanbanViewProduct" asp-action="arrowsupereight" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to move  ?')"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>

                }
            </div>
        </div>
    </div>
</div>
<style>
     body {
            background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
            background-size: cover;
            font-family: Montserrat;
        }
    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        transform: skewX(-5deg);
    }

    .gu-hide {
        display: none !important;
    }

    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
</style>
<script>https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        dragula([
            document.querySelector('#one'),
            document.querySelector('#two'),
            document.querySelector('#three'),
            document.querySelector('#four')
        ]);
    });
</script>
