@model IEnumerable<Employee>

@{
    //In Viewstart
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee List";
}

@*<table>
    <thead>
        <tr>

            <th> ID</th>
            <th>NAME </th>
            <th> DEPARTMENT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Department</td>

            </tr>
        }


    </tbody>
    </table>*@
<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "no_photo.png");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath"
                 asp-append-version="true" />
            <div class="card-footer text-center">

                <form method="post" asp-action="Delete" asp-route-id="@employee.Id">
                    <a asp-controller="user" asp-action="Details" asp-route-id="@employee.Id"
                       class="btn btn-primary m-1">View</a>
                    <a asp-controller="user" asp-action="Edit" asp-route-id="@employee.Id"
                       class="btn btn-primary m-1">Edit</a>
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this Employee : @employee.Name')">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
    <a asp-controller="product" asp-action="index1"
       class="btn btn-primary m-1">Going to List</a>
</div>