
@model IEnumerable<EmpManagement.Models.Project>

@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>
<div class="row">
    <div class="col-md-3">
        <a asp-action="Create" class="btn btn-success">+ Add Project</a>

        <a asp-controller="mainhome" asp-action="newindex">Index</a>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-4">
        <form asp-action="Search" id="search-form">
            @Html.AntiForgeryToken()
            <div class="input-group">
                <input type="text" placeholder="project ..." class="form-inline form-control" name="query" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default form-inline" name="submit">submit</button>
                </div>
            </div>

        </form>
    </div>
</div>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else
{


}
@section scripts{
    <script type="text/javascript">
$("#search-form").on("submit",function(args) {
            var q = $("input[name='query']").val();
            if (q.trim().length === 0) {
                args.preventDefault();
                alert("no project present ?");
            }
        })</script>
}